name: Build CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install V
      uses: vlang/setup-v@v1
      with:
        check-latest: true
          
    - name: Check the project compiles with latest V
      run: make clean all
